get the seats which have
always elected the party that has gone on to win the state election (most votes
secured at state). So if the RJD won at the state level in 2010, then seats which
voted an RJD candidate as winner are considered in this category. This criteria
for a seat has to be matched for each election

In [104]:
import pandas as pd
data=pd.read_csv('/content/Bihar_Election_Results .csv')

In [105]:
df1=data.groupby(['Election Year','Party'],as_index=False)['Votes'].sum()
df1=df1.loc[df1.groupby(['Election Year'])['Votes'].idxmax(),['Election Year','Party']].set_index('Election Year')

In [106]:
df1

                               Party
Election Year
2005-Feb        Rashtriya Janata Dal
2005-Oct        Rashtriya Janata Dal
2010             Janata Dal (United)
2015           Bharatiya Janta Party

In [ ]:
data['Election Year']=='2005-Feb'

In [100]:
data['Party']=data['Election Year'].map(df1['Party'])

In [95]:
out=data.groupby(['Election Year','Party','AC name']).agg({'Votes':'sum'})

In [96]:
out

                                                    Votes
Election Year Party                 AC name
2005-Feb      Rashtriya Janata Dal  Agiaon (SC)    102616
                                    Alamnagar       96936
                                    Alauli (SC)    133609
                                    Alinagar        82949
                                    Amarpur        104693
...                                                   ...
2015          Bharatiya Janta Party Valmiki Nagar  178067
                                    Warisnagar     160043
                                    Warsaliganj    162970
                                    Wazirganj      163275
                                    Ziradei        133806

[966 rows x 1 columns]